body {
    background-image: url("studsGif.gif");
  }
  h1 {
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px black;
  }

  h2 {
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px black;
  }

  h3 {
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px black;
  }

  p {
    color: white;
    font-family: monospace;
    text-shadow: 1px 1px black;
  }
